/* Estilos básicos del Header */
header {
    background-color: rgba(20, 20, 20, 0.95);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    max-width: 800px;
    height: 30px;

    margin: auto;
  }
  
  /* Enlaces y título */
  header h1 {
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    flex-grow: 1;
  }
  
  header a {
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    transition: transform 0.3s ease;
  }
  
  header a:hover {
    transform: scale(1.2);
  }
  
  /* Responsivo: Menú desplegable en móvil */
  .menu-button {
    display: none;
    font-size: 1.5rem;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .menu-button:hover {
    transform: scale(1.2);
  }

  .language-switch {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 10px;
    color: #fff;
  }
  
  .language-switch label {
    font-size: 1.5rem;
  }
  
  .language-switch input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  
  /* Configuración del menú de navegación en modo móvil */
  @media (max-width: 768px) {
    header {
        display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; 
    
      max-width: 90%; /* Hace el contenedor más pequeño en móvil */
      max-height: 10%;
      margin: 0 auto; /* Centra el header en móvil */
    }
  
    nav {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 200px; /* Ajusta el ancho del menú */
      height: 100%;
      background-color: rgba(0, 0, 0, 0.9);
      flex-direction: column;
      align-items: flex-start;
      padding-top: 60px;
      transform: translateX(-100%);
      transition: transform 0.4s ease;
    }
  
    /* Muestra el menú con animación de izquierda a derecha */
    nav.show {
      display: flex;
      transform: translateX(0);
    }
  
    /* Botón de menú visible en móviles */
    .menu-button {
      display: block;
      
    }
  
    /* Estilo adicional para el botón de cerrar cuando el menú está abierto */
    .menu-button {
      position: fixed;
      top: 15px;
      left: 15px;
      z-index: 1;
    }
  
    /* Coloca el título en el lado derecho */
    header h1 {
      text-align: right;
      flex-grow: 0;
      margin-left: auto; /* Alinea el título a la derecha */
      font-size: 1.2rem; /* Ajusta el tamaño del título en móvil */
    }
  }
  